#cardCrypto:hover {
    background-color: aqua;
}

#addCrypto {
    padding-right: 4%; 
    padding-top: 4%;
}

#addCrypto:hover {
    color: rgb(107, 214, 81);
}

.price {
    margin: 0;
    text-align: center;
    font-size: x-large;
}