html {
    height: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }

main {
    flex: 1 0 auto;
  }
#cardCrypto:hover {
    background-color: aqua;
}

#addCrypto {
    padding-right: 4%; 
    padding-top: 4%;
}

#addCrypto:hover {
    color: rgb(107, 214, 81);
}

#deletePortfolio {
    font-size: 4%;
}

#deletePortfolio:hover {
    color: rgb(214, 81, 81);
}

.price {
    margin: 0;
    text-align: center;
    font-size: x-large;
}
