{% extends 'base.html' %} {% block content %}

<body style="background-color: rgb(51, 51, 51)">
  <div style="margin-top: 3%;" class="row s3">
    <form action="/searchCrypto/" method="POST">
        {% csrf_token %}
        <div style="padding-left: 3%;" class="col s12">
            <div class="input-field col s3" style="display: flex;
            width: 40%;">
              <input
                class="white-text"
                id="search"
                type="text"
                name="searchCripto"
                style="margin-right: 11%;
                width: 40%;"
              />
              <label for="icon_prefix2">Search Cripto</label>
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="action"
              >
                Search
              </button>
            </div>
          </div>
    </form>
  </div>
  <div style="display: flex;
  flex-flow: wrap;">
      {% for d in data %}
      <div class="row">
        <div class="col s12 m10">
          <a href="">
            <div class="card" style=" background-color: #181818;
          color: rgb(194, 193, 193); border-radius: 8px;">
            <div class="card-image" style="align-items: center;
            display: flex;
            justify-content: center; padding-top: 11%;">
              <img style="width: 60%; padding: 5%;" src={{ d.image }}>
            </div>
            
            <div style="justify-content: center;
            display: flex; flex-direction: column;" class="card-content">
              <p>Name: {{ d.name }}</p>
              <p>Price: {{ d.current_price }}</p>
              
            </div>
            <div style=" background-color: #0e0e0e; border-radius: 8px;" class="card-action">
              <span style="justify-content: center;
            display: flex;" class="card-title">{{ d.symbol }}</span>
            </div>
          </div>
          </a>
        </div>
      </div>
      {% endfor %}
      </tbody>
    </table>
  </div>
</body>

{% endblock %}
