<div id="addCoinModal" class="modal" style="width: 50%">
  <div class="modal-content">
    <h4>Add Coin</h4>
    <div class="row">
      <form class="col s12" action="/searchOnModal/" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s6">
            <input
              id="input_text"
              type="text"
              maxlength="14"
              name="cryptoSearch"
              required
            />
            <label for="input_text">Coin Name</label>
          </div>
        </div>
        <table id="cryptoTable" class="highlight">
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          ></div>
          <thead>
            <tr>
              <th>#</th>
              <th style="width: 14%">Img</th>
              <th>Coin</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </form>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var elems = document.querySelectorAll(".modal");
    var instances = M.Modal.init(elems, {});
  });

  fetch("/searchOnModal/")
    .then((response) => {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error("Error en la solicitud HTTP");
      }
    })
    .then((data) => {
      const tablaDeDatos = document
        .getElementById("cryptoTable")
        .getElementsByTagName("tbody")[0];
      data.forEach((fila) => {
        const nuevaFila = document.createElement("tr");
        const columna1 = document.createElement("td");
        const columna2 = document.createElement("img");
        const columna3 = document.createElement("td");
        const columna4 = document.createElement("td");
        const celdaAccion = document.createElement("td");
        const boton = document.createElement("button");
        columna2.setAttribute("style", "width: 37%; margin-top: 16%;");
        columna1.textContent = fila.market_cap_rank;
        columna2.src = fila.image;
        columna3.textContent = fila.symbol;
        columna4.textContent = `$${fila.current_price}`;
        boton.innerText = "Add";
        nuevaFila.appendChild(columna1);
        nuevaFila.appendChild(columna2);
        nuevaFila.appendChild(columna3);
        nuevaFila.appendChild(columna4);
        nuevaFila.appendChild(celdaAccion);
        celdaAccion.appendChild(boton);
        tablaDeDatos.appendChild(nuevaFila);


        var url_actual = window.location.pathname;
        var idPortfolio = url_actual.split('/')[2];

        boton.setAttribute('type', 'button')
        boton.onclick = function () {
          fetch(`/addCrypto/${idPortfolio}/${fila.id}`, {
            method: "POST",
            headers: {
            "X-CSRFToken": getCookie("csrftoken")
        }
          })
            .then((response) => {
              
            })
            .catch((error) => {
              console.error("Error al realizar la solicitud HTTP:", error);
              alert("Ocurrió un error al ejecutar la función.");
            });
        };
      });
    })
    .catch((error) => {
      console.error(error);
    });
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
